html,body{
	margin:0;
	font-family:"courier";
}

#container{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	height:100%;
	background-color: pink;
	flex-wrap:wrap;
	text-align: center;
}
#title{

	font-size:50px;
	width:100%;
	
}

.booklist{
	display: flex;
	flex-direction:row;
	justify-content:left;
	align-items:center;
	flex-wrap: wrap;

	width:100%;
	border: 5px solid black;
}

button{

	margin:15px;
	width:75px;
	height:25px;
}

.book
{
	height:300px;
	width:200px;
	display: flex;
	flex-wrap: wrap;
	line-height:1em;
	flex-direction:row;
	border: 3px solid black;
	justify-content:center;
	align-items:center;
	margin:10px;
}

#addbookTitle{
	font-size: 35px;
	margin-bottom:25px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;

  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50vh; /* Could be more or less, depending on screen size */
}



/* The Close Button */
.close {
	display:flex;
	justify-content: flex-end;
  color: #aaa;
  width:100%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#addbookTitle{
	width:100%;
}

label
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
	text-align: center;
	width: 40%;
	line-height: 26px;
	margin-bottom: 10px;
	
}

input
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	width: 50%;
	height: 20px;
	flex: 0 0 200px;
	margin-left: 10px;
}
